{% extends 'base.html.twig' %}

{% block body %}

<div class="cart-container">

    {% for item in products %}

    <div class="cart-card">
        <img src="{{ asset(item.product.image) }}" alt="{{ item.product.name }}">
        
        <div class="cart-info">
            <div class="cart-info-1">
                <p class="product-name">{{ item.product.name }}</p>
                <p class="product-price">{{ item.product.price }}</p>
                <p>Taille : {{ item.size }}</p>
            </div>

            <a href="{{ path('app_cart_remove', {'key': item.key}) }}" class="btn-remove">RETIRER DU PANIER</a> 

        </div>
        
    </div>
    {% endfor %}
    
    

    <div class="cart-card-1">

        <div class="total">
            TOTAL : {{ total }} €
        </div>
            
        <div class="cart-actions">

            <a href="{{ path('app_checkout') }}" class="btn-control">FINALISER MA COMMANDE</a>
            
            <a href ="{{ path('app_shop') }}" class="btn-shop">CONTINUER MES ACHATS</a>
        </div>
    </div>
</div>
{% endblock %}
