{% extends 'base.html.twig' %}

{% block body %}

<div class="products">

    {% for product in products %}

        <div class="product-card">

            <img src="{{ asset(product.image) }}" alt="{{ product.name }}">

            <div class="card">
                <p class="product-name">{{ product.name }}</p>
                <div class="card-bottom">
                    <p class="product-price">{{ product.price }} €</p>
                    {% if app.user %}
                        <div class="btn-view">
                            <a href="{{ path('app_product', {'id': product.id}) }}">VOIR</a>
                        </div>
                    {% endif %} 
                </div>
            </div>
        </div>
    {% endfor %}

</div>    

{% endblock %}

