{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    
<div class="form-container">

    <h2>S'inscrire</h2>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.name, { 'attr': { 'placeholder': 'johndoe', 'class': 'name' }}) }}
        {{ form_row(registrationForm.email, { 'attr': { 'placeholder': 'johndoe@gmail.com', 'class': 'email' }}) }}
        {{ form_row(registrationForm.deliveryAddress, { 'attr': { 'placeholder': '8 rue du bac 54100 Nancy', 'class': 'address' }}) }}
        {{ form_row(registrationForm.plainPassword.first, { 'attr': { 'placeholder': '*******', 'class': 'password' }}) }}
        {{ form_row(registrationForm.plainPassword.second, { 'attr': { 'placeholder': '*******', 'class': 'password' }}) }}
        
        <button type="submit" class="btn">Créer un compte</button>

    {{ form_end(registrationForm) }}

    <P>
        Déjà inscrit ?
        <a href="{{ path('app_login') }}" class="btn">Se Connecter</a>
    </P>

</div>

{% endblock %}
