{% extends 'base.html.twig' %}

{% block body %}

<div class="product-detail">

    <div class="product-detail-img">
        <img src="{{ asset(product.image) }}" alt="{{ product.name }}">
    </div>

    <div class="product-datail-second">
    
        <div class="product-detail-info">

            <div class="product-text">

                <form action="{{ path('app_cart_add', {'id': product.id}) }}" method="post">

                    <div class="info">
                        <p class="product-name">{{ product.name }}</p>
                        <p class="product-price">{{ product.price }} €</p>
                    </div>

                    <table class="tailles">
                        <tr>
                            <th>Taille</th>
                        </tr>

                        {% for size in ['XS', 'S', 'M', 'L', 'XL'] %}

                        <tr>
                            <td>
                                <label>
                                    <input type="radio" name="size" value="{{ size }}" required> 
                                    <span>{{ size }}</span>
                                </label>
                            </td>
                        </tr>
                        <tr><td class="fin-row"></td></tr>
                        {% endfor %}
                    </table>

                    <div class="btn-panier">
                        <button type="submit">AJOUTER AU PANIER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}