{% extends 'base.html.twig' %}

{% block body %}

<div class="shop-container">

    <div class="product">
    
        <aside class="filtres">
            <p>Fourchette de prix</p>
            <ul>
                <li class="{% if min == 10 and max == 29 %}active-filter{% endif %}">
                    <a href="{{ path('app_shop', { min: 10, max: 29}) }}">
                        10 à 29 €
                    </a>
                </li>
                <li class="{% if min == 30 and max == 35 %}active-filter{% endif %}">
                    <a href="{{ path('app_shop', { min: 30, max: 35}) }}">
                        30 à 35 €
                    </a>
                </li>
                <li class="{% if min == 5 and max == 50 %}active-filter{% endif %}">
                    <a href="{{ path('app_shop', { min: 5, max: 50}) }}">
                        5 à 50 €
                    </a>
                </li>
            </ul>
        </aside>
 
        {% for product in products %}

            <div class="products-card">
        
                <img src="{{ asset(product.image) }}">

                <div class="cards">
                    <p class="product-name">{{ product.name }}</p>
                    
                    <div class="card-bottom">
                        <p class="product-price">{{ product.price }} €</p>
                        {% if app.user %}
                            <div class="btn-view">
                                <a href="{{ path('app_product', {'id': product.id}) }}">VOIR</a>
                            </div>
                        {% endif %} 
                    </div>    
                </div>
            </div>
        {% endfor %}
    </div>  
</div>
      
{% endblock %}
