<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stubborn{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
    </head>

    <body>
        <header class="header">

            <div class="logo">
                <img src="{{ asset('images/Logo.png') }}" alt="Logo Stubborn">
                <p>Slogan</p>
            </div>

            <nav>
                <a href="{{ path('app_home') }}">Accueil</a>

                {% if app.user %}
                    
                    <a href="{{ path('app_shop') }}">Boutique</a>
                    <a href="{{ path('app_cart') }}">Panier</a>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>

                {% else %}   

                    <a href="{{ path('app_register') }}">S'inscrire</a>
                    <a href="{{ path('app_login') }}">Se connecter</a>

                {% endif %}    

            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>Informations de la société</p>   
        </footer>

    </body>
</html>
